.header {
    background: #000;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header__logo {
    margin: 20px;
}

.header__form {
    width: 70%;
    margin: 15px auto;
}

.header__form-inner {
    width: 70%;
    margin: 0px auto;

}

.header__form-input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 30px;
    color: #000;
    font-size: 18px;
}

.header__form-submit {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header__nav-inner {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.header__nav-item {
    color: #fff;
    text-decoration: none;
    margin: 25px auto;
    font-size: 18px;
}

.header__nav-logout {
    background: #000;
    color: white;
    margin: 25px auto;
    border: none;
    font-size: 18px;
}

.header__nav-item-sell {
    height: 40px;
    border-radius: 3px;
    text-align: center;
    color: #000;
    background: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin: 20px auto;
    font-size: 18px;
}