.list__head {
    display: flex;
    justify-content: left;
    height: 80px;
    border-bottom: 2px solid #000;
    align-items: end;
    text-decoration: none;
}

.list__head-link {
    display: inline-block;
    margin: 0 45px 10px 90px;
    font-weight: 700;
    color: #666;
    text-decoration: none;
}

.list__head-link.is-active {
    color: #ff5555;
}

.list__head-recommend a,
.list__head-mylist a {
    text-decoration: none;
    color: inherit;
    font-weight: bold
}

.list__inner {
    display: flex;
    flex-wrap: wrap;
}

.list__card {
    margin: 50px 2% auto;
    width: 20%;
}

.list__card-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: #eee;
}

.list__card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.list__card-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    text-decoration: none;
    color: inherit;
    font-weight: bold
}