.auth__login-title {
    margin-top: 100px;
    text-align: center
}

.auth__login-form {
    width: 50%;
    margin: 25px auto;
}

.auth__login-inner {
    width: 80%;
    margin: 25px auto;
}

.auth__login-item {
    width: 100%;
    margin: 3px 0 20px 0;
}

.auth__login-input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #888;
}

.auth__login-label {
    font-weight: bold;
    margin: 3px;
}

.auth__login-button {
    width: 100%;
    margin-top: 60px;
}

.auth__login-button-submit {
    width: 100%;
    color: #fff;
    background: red;
    height: 40px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.auth__login-register a {
    color: inherit;
    text-decoration: none;
}

.auth__login-register {
    color: blue;
    text-align: center;
}

.auth__error {
    color: red;
    font-weight: bold;
}