.profile__title {
    text-align: center;
}

.profile__header {
    display: flex;
    width: 700px;
    margin: 50px auto;
}

.profile__header-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.profile__header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile__header-image-placeholder {
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    border-radius: 50%;
}

.profile__image-choice-button {
    margin: auto 50px;
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 5px;
    height: 40px;
    padding: 5px 15px;
    font-weight: bold;
}

.profile__file-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.profile__inner {
    width: 700px;
    margin: 0 auto;
}

.profile__label {
    font-weight: bold;
    margin: 3px;
}

.profile__form-item {
    width: 100%;
    height: 55px;
    border-radius: 3px;
    padding-bottom: 80px;
}

.profile__form-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.form__error-wrap {
    min-height: 24px;
    display: flex;
    align-items: center;
}

.form__error {
    margin: 0;
    color: #ff5555;
    font-weight: bold;
}

.profile__form-button {
    width: 100%;
}

.profile__form-button-submit {
    width: 100%;
    border: none;
    color: #fff;
    background: #ff5555;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 0;
}