/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/src/vendor
/src/node_modules
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/src/.env
/storage/logs
/src/storage/logs
/storage/framework
/src/storage/framework
/bootstrap/cache/*.php
/src/bootstrap/cache/*.php

/storage/framework/*
!/storage/framework/cache/
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep

!/storage/framework/sessions/
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

!/storage/framework/views/
/storage/framework/views/*
!/storage/framework/views/.gitkeep

